<div class="overbox">
<div class="white"></div>
</div>
<div class="middlebox">
<div class="blue">
  Banding is a static ability that modifies the rules for combat. “Bands with other” is a special form of banding. If an effect causes a permanent to lose banding, the permanent loses all “bands with other” abilities as well. 702.22c As a player declares attackers, they may declare that one or more attacking creatures with banding and up to one attacking creature without banding (even if it has “bands with other”) are all in a “band.” They may also declare that one or more attacking [quality] creatures with “bands with other [quality]” and any number of other attacking [quality] creatures are all in a band. A player may declare as many attacking bands as they want, but each creature may be a member of only one of them. (Defending players can’t declare bands but may use banding in a different way; see rule 702.22j.)
</div>
<div class="black"></div>
<div class="red"></div>
</div>
<div class="underbox">
<div class="green"></div>
</div>